<% content_for(:content_class) { "bg-body-secondary" } %>
<% I18n.with_locale @locale do %>
  <%= tag.div :lang => @locale, :dir => t("html.dir") do %>
    <div class="container-lg attr">
      <div class='row'>
        <div class='col-sm-7 user-image'></div>
        <div class='col-sm-5 px-5 py-3 byosm'>
          <p class='h5 text-white text-nowrap'>
            <%= t ".heading_html", :copyright => tag.span(t(".copyright_symbol_html")),
                                   :br => tag.br %>
          </p>
        </div>
      </div>
      <div class='row'>
        <div class="px-5 py-4 bg-black bg-opacity-75">
          <h1 class="text-white fw-light"><%= t ".used_by_html", :name => tag.span("Զվարթնոց", :class => "user-name") %></h1>
        </div>
      </div>
    </div>

    <div class='bg-body px-5 py-4'>
      <p class="lead"><%= t ".lede_text" %></p>

      <section>
        <p><%= t ".about_1_html" %></p>
      </section>
      <section>
        <p><%= t ".about_2_html" %></p>
      </section>
    </div>
  <% end %>
<% end %>
